{
  "openapi": "3.1.0",
  "info": {
    "title": "In•Process API",
    "description": "The In•Process API enables browsing and managing moments from timelines. Retrieve moments from a specific artist's timeline, browse the in•process collective timeline, or filter by collection. The API supports creating moments, managing collections, handling payments, and interacting with the In•Process protocol ecosystem.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.inprocess.world/api",
      "description": "Production server"
    }
  ],
  "paths": {
    "/moment": {
      "get": {
        "summary": "Get Moment Info",
        "description": "Retrieve detailed information about a Moment on the In•Process protocol, including onchain moment data, sales configuration, metadata, and moment admins.",
        "operationId": "getMomentInfo",
        "security": [],
        "parameters": [
          {
            "name": "collectionAddress",
            "in": "query",
            "description": "The contract address of the Moment",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "query",
            "description": "The token ID of the Moment",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "description": "Chain ID of the collection (default: Base, 8453)",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64",
              "default": 8453
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MomentInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Moment URI",
        "description": "Update the URI (metadata) of an existing Moment on the In•Process protocol. This endpoint allows artists to update the metadata URI associated with their Moments.\n\nOptionally provide `newCollectionAddress` to move the moment to a different In•Process 1155 contract. The new collection address must differ from the current moment collection address and must be a valid In•Process 1155 contract.\n\n**Note:** Only Moment admins can update the URI.",
        "operationId": "updateMomentURI",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMomentURIRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMomentURIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/moment/create": {
      "post": {
        "summary": "Create a Moment",
        "description": "Create a new Moment on the In•Process protocol. No signature is required for this endpoint.\n\nThe API uses a unified `contract` object that supports both creating moments on existing collections and creating new collections:\n- **Use existing collection**: Provide `contract.address` to add a moment to a collection you've already created\n- **Create new collection**: Provide `contract.name` and `contract.uri` to create both a new collection and its first moment in a single request\n\nOptional: `chainId` (defaults to Base mainnet in production, Base Sepolia in preview or development).\n\n> **Simulate first:** Use [POST /moment/create/simulate](/api-reference/moment/simulate) to validate inputs and estimate gas before submitting a real transaction.",
        "operationId": "createMoment",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMomentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMomentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/moment/create-batch": {
      "post": {
        "summary": "Create Moments Batch",
        "description": "Create multiple moments in a single onchain transaction. Uses the same unified `contract` object as [POST /moment/create](/api-reference/moment/create): provide `contract.address` for an existing collection, or `contract.name` and `contract.uri` to deploy a new collection and mint all batch tokens on it.\n\nEach token can use its own `salesConfig`, `mintToCreatorCount`, `maxSupply`, and `payoutRecipient`. If `splits` are provided, the payout recipient is resolved to the split contract address for all tokens.",
        "operationId": "createMomentBatch",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMomentBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMomentBatchResponse"
                },
                "example": {
                  "contractAddress": "0xfd5b6abaeb35d5d14ebad9c047c2947de938791e",
                  "hash": "0x49a71e96b5234eb15127c7de6446663fea1c13b91d18b5538108888ffca385cd",
                  "chainId": 8453,
                  "tokenIds": [
                    "4",
                    "5"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/moment/create/simulate": {
      "post": {
        "summary": "Create a Moment",
        "description": "Simulate a moment creation without submitting an onchain transaction. Useful for validating inputs and estimating gas before committing.\n\nThis endpoint performs two validation steps:\n1. **Contract simulation** — validates contract-level logic (no gas spent)\n2. **UserOperation preparation** — validates at AA/paymaster level (no broadcast)\n\nUses the same request body schema as `POST /moment/create`.\n\n> **Ready to create?** Use [POST /moment/create](/api-reference/moment/create) to broadcast the real transaction.",
        "operationId": "simulateCreateMoment",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMomentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful simulation response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SimulateCreateMomentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/moment/create/writing": {
      "post": {
        "summary": "Create a Writing Moment",
        "description": "Create a new Writing Moment on the In•Process protocol. No signature is required for this endpoint.\n\nThe API uses a unified `contract` object that supports both creating writing moments on existing collections and creating new collections:\n- **Use existing collection**: Provide `contract.address` to add a writing moment to a collection you've already created\n- **Create new collection**: Provide `contract.name` and `contract.uri` to create both a new collection and its first writing moment in a single request\n\nOptional: `chainId` (defaults to Base mainnet in production, Base Sepolia in preview or development).",
        "operationId": "createWritingMoment",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWritingMomentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMomentResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/moment/collect": {
      "post": {
        "summary": "Collect a Moment",
        "description": "Collect a Moment on the In•Process protocol. This endpoint allows users to collect moments with an optional comment.",
        "operationId": "collectMoment",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectMomentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collectors": {
      "get": {
        "summary": "Get Collectors",
        "description": "Retrieve collectors from the In•Process protocol. Returns a ranked list of collectors with their total collected count and spending. Supports filtering by artist and time period.\n\n**This is a public endpoint and does not require authentication.**",
        "operationId": "getCollectors",
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "all"],
              "default": "all"
            },
            "description": "Time period to aggregate stats over. Defaults to `all`."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            },
            "description": "Number of results per page. Defaults to `20`."
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Page number (1-indexed). Defaults to `1`."
          },
          {
            "name": "artist",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Filter stats to collectors of moments created by this artist address."
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["collected_count", "eth_spent", "usdc_spent"],
              "default": "collected_count"
            },
            "description": "Field to sort results by. Defaults to `collected_count`."
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            },
            "description": "Sort direction. Defaults to `desc`."
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectorsStatsResponse"
                },
                "example": {
                  "collectors": [
                    {
                      "artist_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "username": "alice",
                      "wallets": [{ "address": "0xcollector", "type": "external" }],
                      "collected_count": 5,
                      "eth_spent": "0.01",
                      "usdc_spent": "10"
                    }
                  ],
                  "total_count": 1,
                  "page": 1,
                  "total_pages": 1
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "collectors"
        ]
      }
    },
    "/moment/airdrop": {
      "post": {
        "summary": "Airdrop a Moment",
        "description": "Airdrop a Moment on the In•Process protocol. This endpoint allows artists to distribute moments to multiple recipients.",
        "operationId": "airdropMoment",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AirdropMomentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/moment/permission": {
      "post": {
        "summary": "Add Admin to a Moment",
        "description": "Add admin permissions to a Moment on the In•Process protocol. This endpoint allows artists to grant admin permissions to other addresses for managing their Moments.\n\n**Note:** Only the current Moment admin can add permissions to other addresses. The transaction is executed via a smart account using Coinbase CDP.",
        "operationId": "addMomentPermission",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AddPermissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Remove Admin from a Moment",
        "description": "Remove admin permissions from a Moment on the In•Process protocol. This endpoint allows artists to revoke admin permissions from addresses that were previously granted admin access to their Moments.\n\n**Note:** Only the current Moment admin can remove permissions from other addresses. The transaction is executed via a smart account using Coinbase CDP.",
        "operationId": "removeMomentPermission",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RemovePermissionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/moment/comments": {
      "get": {
        "summary": "Get Comments",
        "description": "Retrieve Moment comments on the In•Process protocol. This endpoint returns comments associated with a specific moment.",
        "operationId": "getMomentComments",
        "security": [],
        "parameters": [
          {
            "name": "collectionAddress",
            "in": "query",
            "description": "Moment contract address",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenId",
            "in": "query",
            "description": "Token ID",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "description": "Chain ID (optional, default: Base, 8453)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 8453
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (optional, defaults to 0)",
            "required": false,
            "schema": {
              "type": "number",
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/moment/sale": {
      "post": {
        "summary": "Set Moment Sale",
        "description": "Update the sale configuration for a Moment on the In•Process protocol. This endpoint allows artists to update the price, sale window, token limit per address, and funds recipient for a Moment's sale.\n\n**Note:** At least one sale field must be provided. Requires authentication via API key.",
        "operationId": "setMomentSale",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSaleRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransactionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Sale config not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections": {
      "get": {
        "summary": "Browse collections",
        "description": "Browse collections from the In•Process protocol. This endpoint can retrieve collections from a specific artist or browse the in•process collective collections, depending on whether the `artist` parameter is provided. Supports pagination for efficient browsing.\n\n**This is a public endpoint and does not require authentication.**\n\nEndpoint behavior:\n- When `artist` is provided: Returns collections from the specific artist (only collections created by that artist address).\n- When `artist` is omitted: Returns collections from the in•process collective collections.",
        "operationId": "getCollections",
        "security": [],
        "parameters": [
          {
            "name": "artist",
            "in": "query",
            "description": "Filter by artist address (collections created by this artist). When provided, returns the artist's collections. When omitted, returns the in•process collective collections.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page (max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "chain_id",
            "in": "query",
            "description": "Filter by chain ID. When omitted, returns moments from all production chains (Ethereum mainnet: 1, Base: 8453).",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 8453
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionsResponse"
                },
                "example": {
                  "status": "success",
                  "collections": [
                    {
                      "address": "0x06a701Ae65582B92Af48cDff45a8B20DcA3714cA",
                      "chainId": 8453,
                      "name": "My Collection",
                      "uri": "ar://1wMmKuaz-VdxmruOQJuYS-3nfU3zlNKmPNpc79Ou-qM",
                      "creator": {
                        "address": "0x4b4324bcC6dB9380ABBbbD20B24A16C11FB5B38A",
                        "username": "artist name 1"
                      },
                      "created_at": "2025-06-07T20:41:35+00:00",
                      "updated_at": "2025-08-12T12:28:41+00:00",
                      "protocol": "in_process"
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "limit": 100,
                    "total_pages": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create Collection",
        "description": "Create a new Collection on In•Process.",
        "operationId": "createCollection",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCollectionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/collections/{network}/{contract}": {
      "get": {
        "summary": "Get Collection Info",
        "description": "Retrieve detailed information about a Collection on the In•Process protocol, including collection metadata, creator, admins, and timestamps.\n\nUses [CAIP-2](https://chainagnostic.org/CAIPs/caip-2) for the `network` segment and a CAIP-style asset reference for the `contract` segment:\n- `network`: `eip155:{chainId}` (e.g. `eip155:8453` for Base)\n- `contract`: `erc1155:{address}` (e.g. `erc1155:0xabc...`)\n\n**This is a public endpoint and does not require authentication.**",
        "operationId": "getCollectionInfo",
        "security": [],
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "CAIP-2 chain reference in the format `eip155:{chainId}` (e.g. `eip155:8453` for Base mainnet)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eip155:8453"
            }
          },
          {
            "name": "contract",
            "in": "path",
            "description": "CAIP-style asset reference in the format `erc1155:{address}` (e.g. `erc1155:0xabc...`)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "erc1155:0x1234567890abcdef1234567890abcdef12345678"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionInfo"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid CAIP format, unsupported namespace, or invalid address",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Collection not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update Collection Metadata",
        "description": "Update the metadata (name and URI) of an existing Collection on the In•Process protocol.\n\nUses [CAIP-2](https://chainagnostic.org/CAIPs/caip-2) for the `network` segment and a CAIP-style asset reference for the `contract` segment:\n- `network`: `eip155:{chainId}` (e.g. `eip155:8453` for Base)\n- `contract`: `erc1155:{address}` (e.g. `erc1155:0xabc...`)\n\n**Note:** Only Collection admins can update the metadata.",
        "operationId": "updateCollectionURI",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "network",
            "in": "path",
            "description": "CAIP-2 chain reference in the format `eip155:{chainId}` (e.g. `eip155:8453` for Base mainnet)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "eip155:8453"
            }
          },
          {
            "name": "contract",
            "in": "path",
            "description": "CAIP-style asset reference in the format `erc1155:{address}` (e.g. `erc1155:0xabc...`)",
            "required": true,
            "schema": {
              "type": "string",
              "example": "erc1155:0x1234567890abcdef1234567890abcdef12345678"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCollectionURIRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCollectionURIResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid CAIP format, unsupported namespace, invalid address, or missing body fields",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — missing or invalid API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/timeline": {
      "get": {
        "summary": "Browse moments from timelines",
        "description": "Browse moments from timelines. This endpoint can retrieve moments from a specific artist's timeline or browse the in•process collective timeline, depending on whether the `artist` parameter is provided. Supports pagination for efficient browsing.\n\n**This is a public endpoint and does not require authentication.**\n\nEndpoint behavior:\n- When `collection` is provided: Returns all moments (tokens) of the specified collection address.\n- When `artist` is provided: Returns moments from the specific artist's timeline (only moments administered by that artist address). The `type` parameter can be used to filter by admin relationship.\n- When both `artist` and `collection` are omitted: Returns moments from the in•process collective timeline (moments that are being created, indexed).",
        "operationId": "getTimeline",
        "security": [],
        "parameters": [
          {
            "name": "artist",
            "in": "query",
            "description": "Filter by admin address (only moments administered by this artist address). When provided, returns the artist timeline. When omitted, returns the in•process collective timeline.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "description": "Filter by collection address. When provided, returns all moments of the specified collection.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page (max: 100)",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "chain_id",
            "in": "query",
            "description": "Filter by chain ID. When omitted, returns moments from all production chains (Ethereum mainnet: 1, Base: 8453).",
            "required": false,
            "schema": {
              "type": "integer",
              "example": 8453
            }
          },
          {
            "name": "hidden",
            "in": "query",
            "description": "If true, includes moments marked as hidden by the admin (default: false)",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "content_type",
            "in": "query",
            "description": "Filter by MIME type category (e.g. `audio`, `video`, `image`). Used to construct a MIME pattern filter.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "audio"
            }
          },
          {
            "name": "period",
            "in": "query",
            "description": "Filter moments by time period.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "all"
              ]
            }
          },
          {
            "name": "channel",
            "in": "query",
            "description": "Filter moments by the channel they were created through.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "telegram",
                "sms",
                "web",
                "api"
              ]
            }
          },
          {
            "name": "type",
            "in": "query",
            "description": "Only applicable when `artist` is provided. Determines whether to show moments where the artist is the creator (`default`), moments co-administered with others (`mutual`), or both when not provided.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "mutual",
                "default"
              ]
            }
          },
          {
            "name": "curated",
            "in": "query",
            "description": "If true, returns only curated moments (default: false).",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimelineResponse"
                },
                "example": {
                  "status": "success",
                  "moments": [
                    {
                      "address": "0x06a701Ae65582B92Af48cDff45a8B20DcA3714cA",
                      "token_id": "1",
                      "chain_id": 8453,
                      "id": "bceddfb3-28f2-49f3-8669-73a813a06b90",
                      "uri": "ar://1wMmKuaz-VdxmruOQJuYS-3nfU3zlNKmPNpc79Ou-qM",
                      "creator": {
                        "address": "0x4b4324bcC6dB9380ABBbbD20B24A16C11FB5B38A",
                        "hidden": false
                      },
                      "admins": [
                        {
                          "address": "0x4b4324bcC6dB9380ABBbbD20B24A16C11FB5B38A",
                          "hidden": false
                        },
                        {
                          "address": "0xAF1452d289E22FbD0DEA9d5097353c72a90FAC33",
                          "hidden": true
                        }
                      ],
                      "created_at": "2025-06-07T20:41:35+00:00",
                      "protocol": "in_process"
                    }
                  ],
                  "pagination": {
                    "page": 1,
                    "limit": 1,
                    "total_pages": 2
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transfers": {
      "get": {
        "summary": "Get Transfers",
        "description": "Retrieve moment transfer records from the In•Process protocol. Use the `type` parameter to filter by transfer category, or omit it to retrieve all types.\n\nEndpoint behavior:\n- If `artist` is provided: Filters transfers to moments created by this artist.\n- If `collector` is provided: Filters transfers where this address is the collector.\n- If `collection` is provided: Filters transfers to moments in this collection.\n- If `tokenId` is provided: Filters transfers to a specific token within the collection.\n- If `chainId` is provided: Filters transfers to the specified chain.\n- If `content_type` is provided: Filters transfers to moments whose content MIME type matches (e.g. `audio`, `video`, `image`).",
        "operationId": "getTransfers",
        "security": [],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Filter by transfer type. Omit to retrieve all transfer types. Use `airdrop` for airdrops, `payment` for moment transfers completed via payment.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "airdrop",
                "payment"
              ]
            }
          },
          {
            "name": "artist",
            "in": "query",
            "description": "Filter by artist address (the creator of the collected moments)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "collector",
            "in": "query",
            "description": "Filter by collector address (the address that collected the moments)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "description": "Filter by collection contract address",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "tokenId",
            "in": "query",
            "description": "Filter by token ID within the specified collection",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "description": "Filter by chain ID (default: Base, 8453)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 8453
            }
          },
          {
            "name": "content_type",
            "in": "query",
            "description": "Filter by MIME type category (e.g. `audio`, `video`, `image`). Used to construct a MIME pattern filter.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "audio"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page (max: 100, default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransfersResponse"
                },
                "example": {
                  "transfers": [
                    {
                      "id": "3a803eeb-4089-4091-b6f2-d1c2b018e4d1",
                      "transferred_at": "2026-02-14T11:46:25+00:00",
                      "quantity": 1,
                      "value": null,
                      "currency": null,
                      "transaction_hash": "0xda5f2c55cb20d77ac935ad132afc58c1bf0940927f9afc2991d87f2eaba1d2a6",
                      "collector": {
                        "address": "0xb5acded340d66678f01097818940a0f028dafb8d",
                        "username": "sweetman"
                      },
                      "moment": {
                        "token_id": 1,
                        "collection": {
                          "address": "0x297f21aac502571db2c7dbfd271e68dae7f2ce1e",
                          "chain_id": 8453,
                          "protocol": "in_process",
                          "creator": "0x71ea0189673968499be6386f8febf37a7d3dacdc"
                        },
                        "metadata": {
                          "name": "An example airdropped moment",
                          "description": null,
                          "image": "ar://example-image-hash",
                          "animation_url": null,
                          "content": {
                            "mime": "audio/mp3"
                          }
                        }
                      }
                    }
                  ],
                  "pagination": {
                    "total_count": 1,
                    "page": 1,
                    "limit": 20,
                    "total_pages": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        },
        "tags": [
          "transfers"
        ]
      }
    },
    "/transfers?type=payment": {
      "get": {
        "summary": "Get Payments",
        "description": "Retrieve payment records from the In•Process protocol. Supports filtering by artist, collector, and chain. Supports pagination for efficient browsing.\n\nEndpoint behavior:\n- If `artist` is provided: Filters payments to moments where this address is one of the artists receiving a share of the payment.\n- If `collector` is provided: Filters payments where this address is the buyer.\n- If `chainId` is provided: Filters payments to the specified chain.",
        "operationId": "getPayments",
        "security": [],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Transfer type — always `payment` for this endpoint",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "payment"
              ],
              "default": "payment"
            }
          },
          {
            "name": "artist",
            "in": "query",
            "description": "Filters payments to moments where this address is one of the artists receiving a share of the payment.",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "collector",
            "in": "query",
            "description": "Filter by collector address (the address that purchased the token)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "description": "Filter by collection contract address",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "tokenId",
            "in": "query",
            "description": "Filter by token ID within the specified collection",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "description": "Filter by chain ID (default: Base, 8453)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 8453
            }
          },
          {
            "name": "content_type",
            "in": "query",
            "description": "Filter by MIME type category (e.g. `audio`, `video`, `image`). Used to construct a MIME pattern filter.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "audio"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page (max: 100, default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentsResponse"
                },
                "example": {
                  "transfers": [
                    {
                      "id": "3a803eeb-4089-4091-b6f2-d1c2b018e4d1",
                      "transferred_at": "2026-02-14T11:46:25+00:00",
                      "quantity": 1,
                      "value": 1,
                      "currency": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                      "transaction_hash": "0xda5f2c55cb20d77ac935ad132afc58c1bf0940927f9afc2991d87f2eaba1d2a6",
                      "collector": {
                        "address": "0x1d78bff2d6b0a97fcc1401930b3c0158e25b1a2c",
                        "username": null
                      },
                      "moment": {
                        "token_id": 1,
                        "fee_recipients": [
                          {
                            "artist_address": "0x71ea0189673968499be6386f8febf37a7d3dacdc",
                            "percent_allocation": 100
                          }
                        ],
                        "collection": {
                          "address": "0xee6c324c03287c28d81c88d11914aaf8505844ba",
                          "chain_id": 8453,
                          "protocol": "in_process",
                          "artist": {
                            "address": "0x71ea0189673968499be6386f8febf37a7d3dacdc",
                            "username": "artistname"
                          }
                        },
                        "metadata": {
                          "name": "Example Moment",
                          "description": "An example moment",
                          "image": "ar://example-image-hash",
                          "animation_url": null,
                          "external_url": null,
                          "content": {
                            "mime": "audio/mp3",
                            "uri": "ar://example-content-hash"
                          }
                        }
                      }
                    }
                  ],
                  "pagination": {
                    "total_count": 1,
                    "page": 1,
                    "limit": 20,
                    "total_pages": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/distribute": {
      "post": {
        "summary": "Distribute Funds",
        "description": "Distribute funds from a split contract. This endpoint allows you to trigger the distribution of tokens (native or ERC20) from a split contract to its recipients according to their configured allocations.\n\n**This is a public endpoint and does not require authentication.**",
        "operationId": "distributeFunds",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DistributeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DistributeResponse"
                },
                "example": {
                  "status": "success",
                  "hash": "0xTransactionHash"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "summary": "Browsing Notifications",
        "description": "Retrieve notification records from the In•Process protocol. Supports filtering by artist address and viewed status.\n\n**This is a public endpoint and does not require authentication.**\n\nEndpoint behavior:\n- If no parameters are provided: Returns the latest notification records.\n- If `artist` is provided: Filters notifications where the artist is the provided address.\n- If `viewed` is provided: Filters notifications by their viewed status (true for viewed, false for unviewed).",
        "operationId": "getNotifications",
        "security": [],
        "parameters": [
          {
            "name": "artist",
            "in": "query",
            "description": "Filter by artist address (notifications for this artist)",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "viewed",
            "in": "query",
            "description": "Filter by viewed status (true for viewed, false for unviewed)",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationsResponse"
                },
                "example": {
                  "status": "success",
                  "notifications": [
                    {
                      "id": "bceddfb3-28f2-49f3-8669-73a813a06b90",
                      "payment": {
                        "id": "5fc69bea-1a8a-47f0-8652-8bf041c16a06",
                        "amount": "1",
                        "currency": "0x833589fcd6edb6e08f4c7c32d4f71b54bda02913",
                        "transaction_hash": "0xda5f2c55cb20d77ac935ad132afc58c1bf0940927f9afc2991d87f2eaba1d2a6",
                        "transferred_at": "2026-02-14T11:46:25+00:00",
                        "moment": {
                          "id": "a1b2c3d4-e5f6-4890-9a0b-c1d2e3f4a5b6",
                          "token_id": "1",
                          "uri": "ar://1wMmKuaz-VdxmruOQJuYS-3nfU3zlNKmPNpc79Ou-qM",
                          "collection": {
                            "address": "0x06a701Ae65582B92Af48cDff45a8B20DcA3714cA",
                            "chain_id": 8453,
                            "creator": "0x29b6674c1562e31EdFd9709D9576e8E5F1e68d01"
                          },
                          "fee_recipients": [
                            {
                              "artist_address": "0x29b6674c1562e31EdFd9709D9576e8E5F1e68d01",
                              "percent_allocation": 100
                            }
                          ]
                        },
                        "buyer": {
                          "address": "0x4b4324bcC6dB9380ABBbbD20B24A16C11FB5B38A",
                          "username": "crypto_collector"
                        }
                      },
                      "artist": {
                        "address": "0x29b6674c1562e31EdFd9709D9576e8E5F1e68d01",
                        "username": "digital_artist_1",
                        "bio": "Digital artist exploring the intersection of technology and creativity",
                        "instagram_username": "@digital_artist_1",
                        "twitter_username": "@digital_artist_1",
                        "telegram_username": "@digital_artist_1"
                      },
                      "viewed": false,
                      "created_at": "2025-06-07T20:41:35+00:00"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transfers?type=airdrop": {
      "get": {
        "summary": "Get Airdrops",
        "description": "Retrieve airdrop records from the In•Process protocol. Supports filtering by artist, collector, and chain. Supports pagination for efficient browsing.\n\nEndpoint behavior:\n- If `artist` is provided: Filters airdrops where this address performed the airdrop.\n- If `collector` is provided: Filters airdrops where this address received the airdrop.\n- If `chainId` is provided: Filters airdrops to the specified chain.",
        "operationId": "getAirdrops",
        "security": [],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "description": "Transfer type — always `airdrop` for this endpoint",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "airdrop"
              ],
              "default": "airdrop"
            }
          },
          {
            "name": "artist",
            "in": "query",
            "description": "Filter by artist address (the address that performed the airdrop)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "collector",
            "in": "query",
            "description": "Filter by collector address (the address that received the airdrop)",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "collection",
            "in": "query",
            "description": "Filter by collection contract address",
            "required": false,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            }
          },
          {
            "name": "tokenId",
            "in": "query",
            "description": "Filter by token ID within the specified collection",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          },
          {
            "name": "chainId",
            "in": "query",
            "description": "Filter by chain ID (default: Base, 8453)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 8453
            }
          },
          {
            "name": "content_type",
            "in": "query",
            "description": "Filter by MIME type category (e.g. `audio`, `video`, `image`). Used to construct a MIME pattern filter.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "audio"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of records per page (max: 100, default: 20)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 1,
              "maximum": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The page number to retrieve (default: 1)",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AirdropsResponse"
                },
                "example": {
                  "transfers": [
                    {
                      "id": "3a803eeb-4089-4091-b6f2-d1c2b018e4d1",
                      "transferred_at": "2026-02-14T11:46:25+00:00",
                      "quantity": 1,
                      "value": null,
                      "currency": null,
                      "transaction_hash": "0xda5f2c55cb20d77ac935ad132afc58c1bf0940927f9afc2991d87f2eaba1d2a6",
                      "collector": {
                        "address": "0xb5acded340d66678f01097818940a0f028dafb8d",
                        "username": "sweetman"
                      },
                      "moment": {
                        "token_id": 1,
                        "collection": {
                          "address": "0x297f21aac502571db2c7dbfd271e68dae7f2ce1e",
                          "chain_id": 8453,
                          "protocol": "in_process",
                          "artist": {
                            "address": "0x297f21aac502571db2c7dbfd271e68dae7f2ce1e",
                            "username": "artistname"
                          }
                        },
                        "metadata": {
                          "name": "Example Moment",
                          "description": "An example airdropped moment",
                          "image": "ar://example-image-hash",
                          "animation_url": null,
                          "external_url": null,
                          "content": {
                            "mime": "audio/mp3",
                            "uri": "ar://example-content-hash"
                          }
                        }
                      }
                    }
                  ],
                  "pagination": {
                    "total_count": 1,
                    "page": 1,
                    "limit": 20,
                    "total_pages": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/artists/api-keys": {
      "post": {
        "summary": "Create an Artist API Key",
        "description": "Create a new API key for artists on the In•Process protocol.\n\n**Overview:**\n\nArtists can create API keys in two ways:\n\n1. **Programmatically** - Using the API endpoint documented below\n2. **Via Web Interface** - Using the [In•Process API Keys Management Site](https://inprocess.world/manage/api-keys)\n\nThe web interface provides a user-friendly way to create, view, and manage an artist API keys without writing code.\n\n**Note:** This endpoint requires a Privy access token for authentication. Privy access tokens are obtained through the Privy authentication flow and provide secure access to artist-specific API endpoints. For more information about Privy authentication, see the [Privy documentation](https://docs.privy.io/authentication/user-authentication/access-tokens#getting-the-access-token).",
        "operationId": "createArtistApiKey",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApiKeyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApiKeyResponse"
                },
                "example": {
                  "key": "art_sk_1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - Invalid or missing Privy access token",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/artists/search": {
      "get": {
        "summary": "Search Artists",
        "description": "Search for artists by username on the In•Process protocol.",
        "operationId": "searchArtists",
        "security": [],
        "parameters": [
          {
            "name": "query",
            "in": "query",
            "description": "The username prefix to search for. Matching is case-insensitive and uses prefix matching (e.g. `mat` matches `matt`, `Matilda`).",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of artists to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 50,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchArtistsResponse"
                },
                "example": {
                  "artists": [
                    {
                      "address": "0x51027631B9DEF86e088C33368eC4E3A4BE0aD264",
                      "username": "matt"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing query params",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/artists/active": {
      "get": {
        "summary": "Get Active Artists",
        "description": "Paginated activity stats for artists on the In•Process protocol: moments created, airdrops, and moment counts by creation channel (`telegram`, `web`, `api`, `sms`).",
        "operationId": "getActiveArtists",
        "security": [],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Restrict which moments are counted: approximately the last day, week, or month. `all` means no time limit.",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week",
                "month",
                "all"
              ],
              "default": "all"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size (1 to 100). Default 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number. Default 1.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "artist",
            "in": "query",
            "required": false,
            "description": "Filter by wallet (`0x` + 40 hex, case-insensitive) or username substring.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Metric to sort by.",
            "schema": {
              "type": "string",
              "enum": [
                "created_count",
                "airdropped_count",
                "telegram_count",
                "web_count",
                "api_count",
                "sms_count"
              ],
              "default": "created_count"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetActiveArtistsResponse"
                },
                "example": {
                  "artists": [
                    {
                      "artist_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "username": "matt",
                      "wallets": [{ "address": "0x51027631B9DEF86e088C33368eC4E3A4BE0aD264", "type": "farcaster" }],
                      "created_count": 12,
                      "airdropped_count": 3,
                      "telegram_count": 1,
                      "web_count": 8,
                      "api_count": 2,
                      "sms_count": 1
                    }
                  ],
                  "total_count": 100,
                  "page": 1,
                  "total_pages": 5
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message",
                    "errors"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "field",
                          "message"
                        ],
                        "properties": {
                          "field": {
                            "type": "string"
                          },
                          "message": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Invalid input",
                  "errors": [
                    {
                      "field": "limit",
                      "message": "Number must be less than or equal to 100"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "message"
                  ],
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/artists/collectors": {
      "get": {
        "summary": "Get Artists Collectors",
        "description": "Returns artists who are both creators and collectors on the In•Process protocol. Supports filtering by artist and time period.",
        "operationId": "getArtistsCollectorsStats",
        "security": [],
        "parameters": [
          {
            "name": "period",
            "in": "query",
            "required": false,
            "description": "Restrict which moments are counted: approximately the last day, week, or month. `all` means no time limit.",
            "schema": {
              "type": "string",
              "enum": ["day", "week", "month", "all"],
              "default": "all"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Page size (1 to 100). Default 20.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 20
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "1-based page number. Default 1.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "artist",
            "in": "query",
            "required": false,
            "description": "Filter by wallet address or username substring.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          },
          {
            "name": "sort_by",
            "in": "query",
            "required": false,
            "description": "Metric to sort by.",
            "schema": {
              "type": "string",
              "enum": ["total_created_count", "total_collected_count"],
              "default": "total_created_count"
            }
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ArtistsCollectorsStatsResponse"
                },
                "example": {
                  "artists": [
                    {
                      "artist_id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                      "username": "matt",
                      "wallets": [{ "address": "0x51027631B9DEF86e088C33368eC4E3A4BE0aD264", "type": "farcaster" }],
                      "total_created_count": 42,
                      "total_collected_count": 130
                    }
                  ],
                  "total_count": 1,
                  "page": 1,
                  "total_pages": 1
                }
              }
            }
          },
          "400": {
            "description": "Invalid query parameters",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["message", "errors"],
                  "properties": {
                    "message": { "type": "string" },
                    "errors": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": ["field", "message"],
                        "properties": {
                          "field": { "type": "string" },
                          "message": { "type": "string" }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "message": "Invalid input",
                  "errors": [
                    {
                      "field": "limit",
                      "message": "Number must be less than or equal to 100"
                    }
                  ]
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["message"],
                  "properties": {
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/artists/wallets": {
      "post": {
        "summary": "Connect a Wallet",
        "description": "Connect a wallet to the authenticated artist account on the In•Process protocol using an EIP-191 signed message. The wallet address and client type (`farcaster` or `external`) are derived from the signed message.",
        "operationId": "connectWallet",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConnectWalletRequest"
              },
              "example": {
                "walletProof": {
                  "message": "0x51027631B9DEF86e088C33368eC4E3A4BE0aD264\nclient-type:external",
                  "signature": "0xabc123...def456"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConnectWalletResponse"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid message format, invalid signature, wallet already connected, or artist already has a wallet of that type",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Disconnect a Wallet",
        "description": "Disconnect a specific wallet from the authenticated artist account.",
        "operationId": "disconnectWallet",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "address",
            "in": "query",
            "description": "The `0x`-prefixed EVM address of the wallet to disconnect. Must be one of the authenticated artist's wallets.",
            "required": true,
            "schema": {
              "type": "string",
              "pattern": "^0x[a-fA-F0-9]{40}$"
            },
            "example": "0x51027631B9DEF86e088C33368eC4E3A4BE0aD264"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DisconnectWalletResponse"
                },
                "example": {
                  "success": true
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid address or wallet not found on the authenticated account",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized — invalid or missing authentication",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "Get Artist Wallets",
        "description": "Get all wallets associated with an artist on the In•Process protocol. Returns each wallet's address and type.",
        "operationId": "getArtistWallets",
        "parameters": [
          {
            "name": "artistId",
            "in": "query",
            "description": "The UUID of the artist whose wallets to retrieve.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArtistWalletsResponse"
                },
                "example": {
                  "wallets": [
                    {
                      "address": "0x51027631B9DEF86e088C33368eC4E3A4BE0aD264",
                      "type": "external"
                    },
                    {
                      "address": "0xAbCdEf1234567890AbCdEf1234567890AbCdEf12",
                      "type": "farcaster"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad request — invalid or missing `artistId` query parameter",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/emails": {
      "get": {
        "summary": "Get Emails",
        "description": "Retrieve email addresses for artists on the In•Process protocol.\n\n**Authentication required.**\n\nEndpoint behavior depends on the type of API key used:\n- **Normal API key**: No parameters accepted. The artist address is inferred from the API key and returns that artist's own email.\n- **Admin API key**: `artist_address` is optional. If provided, returns the email for that specific artist. If omitted, returns a paginated list of all artist emails.",
        "operationId": "getEmails",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "artist_address",
            "in": "query",
            "description": "The artist wallet address to look up the email for. **Admin API key only.** When provided, returns a single email object for that artist; when omitted, returns all emails paginated.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "cursor",
            "in": "query",
            "description": "Pagination cursor for fetching the next page of results. Use the `next_cursor` value from the previous response.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Maximum number of email records to return per page.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "description": "Single artist email response (normal API key, or admin API key with artist_address provided)",
                      "properties": {
                        "email": {
                          "type": "string",
                          "nullable": true,
                          "description": "The email address associated with the artist, or null if not found"
                        }
                      }
                    },
                    {
                      "type": "object",
                      "description": "Paginated list of artist emails (admin API key only, no artist_address provided)",
                      "properties": {
                        "emails": {
                          "type": "array",
                          "description": "Array of artist email records",
                          "items": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "description": "The social wallet address associated with the email"
                              },
                              "email": {
                                "type": "string",
                                "description": "The artist's email address"
                              },
                              "artist_address": {
                                "type": "string",
                                "nullable": true,
                                "description": "The artist's primary wallet address, or null if not mapped"
                              },
                              "username": {
                                "type": "string",
                                "nullable": true,
                                "description": "The artist's username, or null if not set"
                              }
                            }
                          }
                        },
                        "next_cursor": {
                          "type": "string",
                          "nullable": true,
                          "description": "Cursor for the next page of results. Null if there are no more pages."
                        }
                      }
                    }
                  ]
                },
                "examples": {
                  "single_artist": {
                    "summary": "Single artist email",
                    "value": {
                      "email": "artist@example.com"
                    }
                  },
                  "paginated_list": {
                    "summary": "Paginated email list (admin)",
                    "value": {
                      "emails": [
                        {
                          "address": "0xabc123...",
                          "email": "artist@example.com",
                          "artist_address": "0xdef456...",
                          "username": "sweetman.eth"
                        }
                      ],
                      "next_cursor": "cursor_token_here"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "Forbidden - the artist does not have the required API key type for the requested operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "status": "error",
                  "message": "Forbidden"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/smartwallet": {
      "get": {
        "summary": "Get Smart Wallet",
        "description": "Get a smart wallet connected to an artist wallet on the In•Process protocol. This endpoint retrieves the smart wallet address associated with a given artist wallet address.\n\n**This is a public endpoint and does not require authentication.**",
        "operationId": "getSmartWallet",
        "security": [],
        "parameters": [
          {
            "name": "artist_wallet",
            "in": "query",
            "description": "The artist wallet address to get a smart wallet for",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSmartWalletResponse"
                },
                "example": {
                  "address": "0x06a1bb8d0dccf8c7d7bad3a28352ba0a5d3a3df3"
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
[...]
